.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(245, 240, 240, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.card:hover {
  border: 1px solid white;
  transform: scale(1.05);
}

